[submodule "Localizations"]
	path = Localizations
	url = git@github.com:lionheart/pushpin-localizations.git
[submodule "Vendor/LHSDiigo"]
	path = Vendor/LHSDiigo
	url = git@github.com:lionheart/LHSDiigo
[submodule "Vendor/LHSDelicious"]
	path = Vendor/LHSDelicious
	url = git@github.com:lionheart/LHSDelicious
[submodule "Localizations"]
	path = Localizations
	url = https://github.com/lionheart/pushpin-localizations.git
[submodule "Vendor/LHSDiigo"]
	path = Vendor/LHSDiigo
	url = https://github.com/lionheart/LHSDiigo
[submodule "Vendor/LHSCategoryCollection"]
	path = Vendor/LHSCategoryCollection
	url = https://github.com//lionheart/LHSCategoryCollection
[submodule "Vendor/LHSDelicious"]
	path = Vendor/LHSDelicious
	url = https://github.com//lionheart/LHSDelicious
[submodule "Vendor/LHSKeyboardAdjusting"]
	path = Vendor/LHSKeyboardAdjusting
	url = https://github.com//lionheart/LHSKeyboardAdjusting
[submodule "Fonts"]
	path = Fonts
	url = https://github.com/lionheart/pushpin-fonts
