*.pbxproj filter=pbxproj
# *.png diff=png filter=bigstore

Pushpin/Beta-Info.plist merge=bundleversion
Pushpin/DeliciousAppStore.plist merge=bundleversion
Pushpin/DeliciousBeta.plist merge=bundleversion
Pushpin/DeliciousDebug.plist merge=bundleversion
Pushpin/Dev-Info.plist merge=bundleversion
Pushpin/PinboardAppStore.plist merge=bundleversion
