[submodule "Localizations"]
	path = Localizations
	url = git@github.com:lionheart/pushpin-localizations.git
[submodule "Vendor/ASPinboard"]
	path = Vendor/ASPinboard
	url = git@github.com:lionheart/ASPinboard.git
