<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bookmark Extension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BookmarkExtensionSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>DebugPods.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Pushpin.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PushpinFramework.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>SQLite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>370B75DF1F46034400391769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>370B75F41F46037E00391769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>370B76091F4603A400391769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>370B761E1F4603AA00391769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3717966418A88578004B2D08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3717967F18A885F7004B2D08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>372943EB19CF53FD00ABF006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>372A9D9818B59E0800AABE53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>374F3630252166B400D24A8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37587B1B1D32B59F005665DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37587B2E1D32B5B0005665DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3772DE511933B0CF004B348D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3772DE5E1933B0D1004B348D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3772DE7C1933B0DE004B348D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>378BFDEF19E5E29A006B48DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>379041F419CBCFED00409D34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3790421119CBD27C00409D34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3790422B19CBD46800409D34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3790424519CBD49A00409D34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>379042B119CC646700409D34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>379042BB19CC646900409D34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37BC1DE01D32861A00AC4607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37BC1DF41D32862F00AC4607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37D2DB5E1D32E9B500167322</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37E329B01629EEAF00A6BC18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37E329C11629EF2800A6BC18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37E329DA1629F0D000A6BC18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37FEEB8D15745488003F2B77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
