<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688322260049-cm5t7c60d8qtnvfg07jl1hmciqn3qnbh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688322260049-cm5t7c60d8qtnvfg07jl1hmciqn3qnbh</string>
	<key>API_KEY</key>
	<string>AIzaSyC2zN86j_nO0k8pcG1NOgbN_H7VVCbD50A</string>
	<key>GCM_SENDER_ID</key>
	<string>688322260049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.aurora.pushpin</string>
	<key>PROJECT_ID</key>
	<string>pushpin-7d7a3</string>
	<key>STORAGE_BUCKET</key>
	<string>pushpin-7d7a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688322260049:ios:18687197f42fecb9</string>
	<key>DATABASE_URL</key>
	<string>https://pushpin-7d7a3.firebaseio.com</string>
</dict>
</plist>