<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>3.1.3</string>
		<array>
			<array>
				<string>FIX</string>
				<string>Fix issue where updates to existing bookmarks would fail.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Prevent &quot;Search&quot; and &quot;Tags&quot; on feed list screen from moving based on device orientation. </string>
			</array>
			<array>
				<string>FIX</string>
				<string>Prevent keyboard shortcuts from interfering with search when viewing bookmarks.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Switch the default add bookmark prompt behavior to only prompt once for each URL.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix issue where bookmark edit prompt would always appear, regardless of settings, when an existing bookmark&apos;s URL was on the clipboard.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix issue where sending URLs to Instapaper would fail for certain users.</string>
			</array>
		</array>
	</array>
	<array>
		<string>3.1.2</string>
		<array>
			<array>
				<string>NEW</string>
				<string>Fix an issue with URL clipboard detection where the app wouldn&apos;t prompt to add or edit a bookmark when a URL was on the clipboard.</string>
			</array>
		</array>
	</array>
	<array>
		<string>3.1.1</string>
		<array>
			<array>
				<string>NEW</string>
				<string>Hello, world.</string>
			</array>
		</array>
	</array>
</array>
</plist>
