<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>4.0</string>
		<array>
			<array>
				<string>FIX</string>
				<string>Add ability to download bookmarks and view them while offline.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Speed up Bookmark and Read Later Extensions.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Allow searches to be saved by holding down the search title.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Add saved searches to sidebar.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Add dates to bookmark rows.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Add tag suggestions.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Add option to clear cache in app.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Add autotcorrect to share extension.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Allow descriptions to be made from highlighted text in extension.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Add ability to turn off bookmark prompts in extensions.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Automatic download of &apos;read later&apos; items automatically in the background without opening the app.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix crash that would occur while editing bookmark links.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Hide search bar by default in bookmark sections.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Switch off clipboard URL detection by default.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix gap between tags and url in bookmarks list.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix bug where reader view is toggled when long pressing a link.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix bug where tapping link in reader view opens original link instead of the link that was tapped.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Prevent bookmarks from being added offline with reader extension.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Prevent bookmarks from being deleted when internet connection is lost or there is an error occurs.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Prevent tags with ampersands from being displayed improperly.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Prevent edit mode toolbar from covering last bookmark.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Add ability to select all bookmarks for multiple editing.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Display error if there&apos;s a server error when refreshing bookmarks.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Add commas to bookmark counts on main screen.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Prevent entire interface from moving to the left/right when swiping for edit buttons.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Indicate whether bookmark has already been added in extension.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Prevent extension themes from being overwritten by other apps.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Prevent toolbar from disappearing in bookmark web view.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix bug where an ellipsis is visible when swiping from a given page of tags back to the Browse screen.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix strange searchbar behaviour when rotating screen.</string>
			</array>
		</array>
	</array>
	<array>
		<string>3.2.2</string>
		<array>
			<array>
				<string>FIX</string>
				<string>Add batch editing! Now, you can easily add or remove tags, change privacy, or update unread status for multiple bookmarks. Just tap &quot;Edit&quot; in the top right of the bookmark screen, select a few bookmarks, and tap the edit button on the middle of the bottom toolbar.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Add an option to hide the &quot;Private&quot; lock when browsing bookmarks.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Make sure the Read Later Extension will grab a title from webpage metadata if not provided by the hosting app.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Make typing a space a shortcut for tapping the &quot;Done&quot; button when editing tags.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Add the ability to log into Readability and Instapaper with credentials stored in 1Password.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Make sure that tags and settings for public/private and read/unread are synced with the Share Extension.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Make sure that tag editing respects user defaults for autocorrect and autocapitalization.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix various crashes on iPad that would occur whenever an alert or action sheet should appear.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix a crash that could occur when editing feeds.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix a crash that could occur when deleting a bookmark.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix a crash caused by the Read Later extension when no title could be found for the URL.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix a rare crash that could occur when editing tags.</string>
			</array>
		</array>
	</array>
	<array>
		<string>3.2.1</string>
		<array>
			<array>
				<string>FIX</string>
				<string>Fix 1Password crash on iPad.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix various IAP issues with restoring and purchasing.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix crash when logging in with read later services.</string>
			</array>
		</array>
	</array>
	<array>
		<string>3.2</string>
		<array>
			<array>
				<string>FIX</string>
				<string>Add native reader view and add settings to customize font, font size, line spacing, margins, and image display.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Add full VoiceOver support.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Add 1Password Extension integration.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Add bookmark and read later share extensions for easy sharing to Pinboard within other apps.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Add three premium fonts: Flex and Brando from Bold Monday, and Lyon from Commercial Type.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Allow articles manually opened with the reader to be read offline.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Allow main bookmark font and font size to be adjusted in settings.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Prevent editing feed order and visibility when no Internet connection is available.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix issue where tapping the browser mark as read button would have no effect.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix crash when trying to add a new bookmark from the browser.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix intermittent crash that occurred when searching bookmarks.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix crash when rotating phone while viewing a bookmark.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Added Danish translations.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Updated French translations.</string>
			</array>
		</array>
	</array>
	<array>
		<string>3.1.7</string>
		<array>
			<array>
				<string>FIX</string>
				<string>Improved French localizations.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix issue where swipe-to-edit would display the wrong bookmark in certain scenarios.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix issue where editing a bookmark twice would display stale bookmark data.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix a crash that occurred when swiping to edit in a search and canceling without making a change.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix issue where bookmark heights would display incorrectly after mass-deleting bookmarks.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix an issue where syncs would fail in certain situations.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix a crash that occurred when switching sections while updating bookmarks.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix a crash that occurred when logging in with the Pinboard API token.</string>
			</array>
		</array>
	</array>
	<array>
		<string>3.1.6</string>
		<array>
			<array>
				<string>FIX</string>
				<string>Fix issue preventing descriptions from being saved.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix crash on login.</string>
			</array>
		</array>
	</array>
	<array>
		<string>3.1.5</string>
		<array>
			<array>
				<string>FIX</string>
				<string>Add API token authentication.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Improve German localizations.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Improve error messages when network operations fail.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix lag in description field text entry.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix issue that prevented j/k keys from working while searching for bookmarks.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix issue where tags would not be deleted when bookmarks were deleted remotely.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix issue where a visual glitch would occur when bulk-deleting bookmarks.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix various crashes when reloading bookmarks.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix crash when tapping on the &quot;Notes&quot; button.</string>
			</array>
		</array>
	</array>
	<array>
		<string>3.1.4</string>
		<array>
			<array>
				<string>FIX</string>
				<string>Speed up syncing.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix issue where search results for tags with duplicates would display incorrect frequencies.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix issue where Pinboard full-text search would not function appropriately.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix crash when rearranging feeds on the main feed list.</string>
			</array>
		</array>
	</array>
	<array>
		<string>3.1.3</string>
		<array>
			<array>
				<string>FIX</string>
				<string>Fix issue where tag list would skip the first section (&apos;A&apos; or &apos;#&apos;).</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix a crash when viewing saved feeds containing links with spaces in the URL.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>TextExpander integration can now be disabled.</string>
			</array>
		</array>
	</array>
	<array>
		<string>3.1.2</string>
		<array>
			<array>
				<string>FIX</string>
				<string>Vastly improve responsiveness of description editor when TextExpander functionality has not been enabled.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Group similar tags (e.g., &apos;apple&apos;, &apos;Apple&apos;, and &apos;APPLE&apos;) together in the tag list.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Prevent keyboard shortcuts from interfering with search when viewing bookmarks.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Prevent &quot;Notes&quot;, &quot;Search&quot;, and &quot;Tags&quot; on feed list screen from moving based on device orientation.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix a crash when viewing Saved Feeds or Community Feeds.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Switch the default add bookmark prompt behavior to only prompt once for each URL.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix crash when using full-text search.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix issue where bookmark edit prompt would always appear when an existing bookmark&apos;s URL was on the clipboard.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix issue where sending URLs to Instapaper would fail for certain users.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix issue where adding a bookmark via URL scheme on iPad would open a full-screen editor instead of a form sheet.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix issue where edits were not immediately reflected in the bookmark list after editing with the swipe gesture.</string>
			</array>
		</array>
	</array>
	<array>
		<string>3.1.1</string>
		<array>
			<array>
				<string>FIX</string>
				<string>Fix a crash when adding a new bookmark with tags from the clipboard.</string>
			</array>
		</array>
	</array>
	<array>
		<string>3.1</string>
		<array>
			<array>
				<string>NEW</string>
				<string>Add keyboard shortcuts.

* General *

⌘ + n - add new bookmark

* Bookmark List *

/ - set focus to search bar
j - move down
k - move up
⌘ + o - open selected bookmark
⌘ + e - edit selected bookmark
⌘ + option + c - toggle compressed / uncompressed bookmarks

* Add / Edit Bookmark Screen *

⌘ + 1 - set focus to title field
⌘ + 2 - set focus to description
⌘ + 3 - set focus to tag field
⌘ + 4 - toggle private / public
⌘ + 5 - toggle read / unread
⌘ + s - save
Esc - cancel

* Tag / Description Editing Screens *

Esc - move back to bookmark edit screen</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Add ability to hide, show, and reorder feeds on the main screen.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Add advanced searches. To access, just tap the &quot;Search&quot; button on the main screen.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Add &quot;Recent&quot; Pinboard feed.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Add back ability to browse Pinboard notes.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Change number of autocompleted tags on iPhone from 4 to 6.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Make searches for lower and uppercase versions of the same tag return the same results (to stay consistent with how Pinboard tagging works on the web).</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Remove diacritics for the purpose of sorting tags in the tag view (e.g., é -&gt; e).</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix an issue where bookmark counts were unreliable for some users.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix situations where the ellipsis could be the wrong color in compressed mode.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix an issue where clipboard prompt settings had no effect on the popup for existing bookmarks.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix issue on iPad where swiping right to edit wouldn’t work until swiping left first.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix a bug where if you have under 200 bookmarks, the number of bookmarks that would sync would remain under 200.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix a crash when opening URLs in third-party browsers.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix a crash when bulk-deleting unread bookmarks.</string>
			</array>
		</array>
	</array>
	<array>
		<string>3.0.2</string>
		<array>
			<array>
				<string>NEW</string>
				<string>Significantly speed up bookmark loading and syncing.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix an issue where syncs would fail in certain situations.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix an issue where various community feeds would not appear.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix x-callback-url issues with Chrome and Safari.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Make a bunch of minor look-and-feel improvements.</string>
			</array>
		</array>
	</array>
	<array>
		<string>3.0.1</string>
		<array>
			<array>
				<string>NEW</string>
				<string>Add an advanced setting to only show the add bookmark prompt for URLs that Pushpin hasn&apos;t seen before.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix a bug affecting bookmark deletions when using the swipe-to-delete interaction.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix a bug preventing opening links using Chrome, Safari, and other browsers in the main bookmark list.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix an issue where the web view couldn&apos;t be closed when opened via URL scheme.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix an issue where using the default URL scheme (pushpin://) would just open Pushpin with a blank page.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix an issue where TextExpander snippets wouldn&apos;t sync correctly.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix an issue where users with large amounts of bookmarks (over 30,000) experienced unpredictability in syncing.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix an issue where opening a custom feed on iPad would not show the same color in the split pane.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix an issue where there was no way to dismiss a search launched via URL scheme on iPad.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Move the alert view appearing when tapping and holding in the web view to the button&apos;s location from the middle of the screen.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix an issue where saving to Instapaper or Pocket was unreliable for some users.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix a crash that would occur when sharing on iPad.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fix an issue where x-callback-url support was not working for Chrome for iOS.</string>
			</array>
		</array>
	</array>
	<array>
		<string>3.0</string>
		<array>
			<array>
				<string>NEW</string>
				<string>Gorgeous, brand-new, built-for-iOS 7 interface.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Add proper split pane interface to iPad version.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Swipe right to edit and swipe left to delete.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Add options to search by all fields, full text (for those of you with Pinboard archival accounts), titles, descriptions, or tags. If you have updated Pushpin from a previous version, you will need to log out and then log back in to enable full text searches.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Significantly expand tap areas for tags (you can tap on them to filter bookmarks by that tag).</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Enable or disable autocorrect and autocapitalization when editing bookmark descriptions.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Add ability to set the default bookmark feed when starting up the app.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Add the option to automatically mark unread bookmarks as read when opening them.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Started work on bulk-editing mode. At the moment you can mark multiple bookmarks as read in the main bookmark list.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>You can now mark bookmarks as read when viewing a bookmark in the in-app browser.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Add a &quot;compressed mode&quot; that limits descriptions to two lines and tags to one line. You can enable it in settings or by tapping the title bars. You can tap the ellipsis when tags are limited to one line to view additional tags.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Share to Riposte, Netbot, Happy, or Felix (for those ADN users out there).</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Sync saved feeds with iCloud.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Significantly speed up searching and remote syncing.</string>
			</array>
		</array>
	</array>
	<array>
		<string>2.1.1</string>
		<array>
			<array>
				<string>NEW</string>
				<string>Changed default &quot;reading puck&quot; position to lower right corner in in-app browser.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fixed an issue where descriptions were not being displayed or saved when editing existing bookmarks.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fixed various issues related to app rotation, notably for the in-app browser and notification view.</string>
			</array>
		</array>
	</array>
	<array>
		<string>2.1</string>
		<array>
			<array>
				<string>NEW</string>
				<string>iPad support.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>iOS 5.1 support.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Landscape support.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Speed up bookmark updates.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Don&apos;t dim read posts by default.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Shake to view a random unread bookmark.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>You can now double-tap a bookmark to edit it. Enable in Advanced Settings.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>You can now specify &quot;from:&quot; sources for feeds. E.g., user: &quot;dlo&quot; and tags: &quot;from:email&quot; will return my bookmarks sent in via email. Other valid sources are &quot;twitter_favs&quot;, &quot;readability&quot;, &quot;twitter&quot;, &quot;instapaper&quot;, &quot;delicious&quot;, and &quot;ril&quot;.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fixed an issue where remotely deleted bookmarks wouldn&apos;t sync.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fixed an issue where viewing feeds with unicode data would fail.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fixed an issue where in-app browser was unable to switch out of Instapaper mobilizer view.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fixed an issue where long tag names would cover tag counts.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fixed an issue where the wrong URL would get copied to the clipboard when searching for a bookmark.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fixed a crash when using the expand/contract gesture on the notes screen.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fixed a crash when viewing the tag list after adding a new tag.</string>
			</array>
		</array>
	</array>
	<array>
		<string>2.0</string>
		<array>
			<array>
				<string>NEW</string>
				<string>Updated user interface.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Pull-to-refresh.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Add support for popular mobilizers in the in-app browser. This helps make webpages not specifically formatted for mobile viewing much easier to read.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Add support for viewing webpages in full screen by tapping the &quot;puck&quot; in the bottom right. Tap and drag the puck to move it around if it&apos;s in the way of something.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Hide bookmark descriptions and tags by pinching two fingers towards each other on any view bookmark screen. Show them by pinching out. This is also configurable in display settings.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Filter by multiple tags. Just keep tapping them.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Add multiple-line descriptions for new and existing bookmarks.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>View feeds for users, tags, or a combination of the two. You can add saved feeds by navigating directly to &quot;Saved Feeds&quot;, or by tapping the &quot;Add&quot; button when viewing a feed through the popular and network sections.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>URL scheme support for viewing feeds (&quot;pushpin://feed?user=ticci&amp;tags=pythonista,python&quot;)</string>
			</array>
			<array>
				<string>NEW</string>
				<string>URL scheme support for viewing URLs using the Pushpin browser (&quot;pushpin://morrick.me/&quot;)</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Delete multiple bookmarks at the same time by tapping the &quot;Edit&quot; button when viewing bookmarks.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>1Password support.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Show whether suggested tags are popular or recommended when adding and editing bookmarks.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Order autocompleted tags by most frequently used, as opposed to alphabetically.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Edit or add bookmarks when using the in-app browser.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Make tappable tag area much larger.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Hide tag sections that don&apos;t have any tags associated with them.</string>
			</array>
		</array>
	</array>
	<array>
		<string>1.4.2</string>
		<array>
			<array>
				<string>NEW</string>
				<string>Clear notifications when app is open.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Change keyboard type for URL field when adding a bookmark.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Add support for opening links in Dolphin, Cyberspace, and Opera.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Italian localization updates.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>App would crash when autocompleting tags.</string>
			</array>
		</array>
	</array>
	<array>
		<string>1.4.1</string>
		<array>
			<array>
				<string>NEW</string>
				<string>More sync speed improvements.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Add &quot;Read by Default&quot; in settings.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Show notification when bookmarks have been updated.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Make connecting to Pocket and Instapaper a bit easier (no longer need the apps installed).</string>
			</array>
			<array>
				<string>NEW</string>
				<string>CHange activity indicator while loading bookmarks.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Minor localization edits.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Remove emoji from add bookmark view.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Use action sheet instead of context menu for bookmark tap and hold actions.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Add iCab Mobile support.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Add bookmarklet installation instructional videos in settings.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Swipe right on tags on add bookmark screen to suggest tags for popular URLs.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Swipe right on title or description to prefill from URL.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Add message when logging in and API is down.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Better Chrome x-callback-url support.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Major code cleanup.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Chrome install link wouldn&apos;t open when iTunes app was disabled.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Display newest bookmarks first when opening any tag screen.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Don&apos;t prompt to add a URL to the clipboard if it has already been rejected.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Fixed a bug that caused the app to crash when typing two spaces or pasting into the tags text field.</string>
			</array>
		</array>
	</array>
	<array>
		<string>1.3.1</string>
		<array>
			<array>
				<string>NEW</string>
				<string>Significantly speed up bookmark syncing.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Starred bookmark section now disappears when Internet connection is lost.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Redirect to Chrome without opening a new tab when using the callback URL scheme.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Don&apos;t show add bookmark prompt when not yet logged in.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Change &quot;Done&quot; to &quot;Next&quot; when focused on username field on login screen.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Starred section showed popular bookmarks instead.</string>
			</array>
		</array>
	</array>
	<array>
		<string>1.3</string>
		<array>
			<array>
				<string>NEW</string>
				<string>Way smoother scrolling and smoother animations when bookmarks are changed added, or deleted.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>In the add new bookmark screen, autocompleted tags are now ordered by how often they&apos;re used.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>When pasting a URL in the add bookmark screen, the title and description is now pulled in automatically.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Added a much better built-in browser.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Added support for Pocket (formerly Read it Later).</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Added support for viewing starred bookmarks.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Only show update HUD when on bookmark list screens.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Added support for callbacks for the bookmarklet with both Chrome and Safari. This means you can set up a bookmarklet to go to Pushpin, add the bookmark, and after the bookmark is added, get sent right back to the browser you were using.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Network activity indicator would display incorrectly.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>App would crash when Internet connection was spotty or unavailable.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Bookmarks with certain characters in tags would cause a crash.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Various stability improvements.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>URL is now editable when using &quot;Copy to Mine&quot; feature.</string>
			</array>
		</array>
	</array>
	<array>
		<string>1.2</string>
		<array>
			<array>
				<string>NEW</string>
				<string>URL scheme support: e.g., pushpin://add?url=XXX&amp;title=XXX</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Click and hold a bookmark to mark as read, read later, edit, delete, copy the url, or copy the title.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Instapaper and Readability integration. To enable, go to your settings and select your Read Later provider or choice.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Can now add private bookmarks by default (just go to your settings to enable).</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Browse all, network, Wikipedia, Fandom, and Japanese popular feeds. Click and hold one of these bookmarks to add it to your collection.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Click a tag to drill down to view other bookmarks tagged with that tag.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Notifications when adding, updating, or removing a bookmark.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Tag autocomplete when creating or editing a bookmark.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Improved sync mechanism.</string>
			</array>
			<array>
				<string>NEW</string>
				<string>Fully localized in both German and English</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Add filler text for bookmarks with empty titles</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Miscellaneous bookmark display issues</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Share menu wouldn&apos;t appear after switching views</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Remove unused code</string>
			</array>
		</array>
	</array>
	<array>
		<string>1.1</string>
		<array>
			<array>
				<string>FIX</string>
				<string>Adjusted layout of login screen just a tad (it looked a little...off).</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Improved user messaging when logging in and API is unresponsive.</string>
			</array>
			<array>
				<string>FIX</string>
				<string>Bookmarks were inconsistently highlighted when scrolling.</string>
			</array>
		</array>
	</array>
	<array>
		<string>1.0</string>
		<array>
			<array>
				<string>NEW</string>
				<string>First release!</string>
			</array>
		</array>
	</array>
</array>
</plist>
