<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel='stylesheet' type='text/css' href='main.css' />
    </head>
    <body>
        <div id='content' class='toread'>
            <h1 id='description'><a href='pinboard:bookmark'>{{description}}</a></h1>
            <p id='extension'>{{extension}}</p>
            <div id='tags'>
                <span class='tag private'>.picfoolery</span> <span class='tag'>coolio</span>
            </div>
        </div>
    </body>
</html>

