body {
  background: #%@;
  color: #%@;
  line-height: %.2fem;
  font-family: "%@";
  font-size: %.1fpx;
  width: %d%%;
  margin: 20px auto;
  text-align: %@;
}

p {
}

h1, h2, h3, h4, h5, h6 {
  font-family: "%@";
}

a {
}

img {
    %@
}

